.container{
  padding: 5rem;
}

.card-sp-image{
  width: 300px;
  height: 250px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards-list>* {
  flex: 1 1 160px;
}
.card {
  position: relative;
  margin: 50px 100px;
  width: 300px;
  height: 250px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: -80px;
  height: 40px;
}


.title-white {
  color: white;
}

.title-black {
  color: black;
}
.singleView{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

.red-icon {
 color: red;
}
.icon-center{
  position: absolute;
  top: 50%;
  left: 45%;
}
.button {
  background-color: #fff;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  
}


@media all and (max-width: 768px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  .card{
    margin: 20px 40px;
    width: 300px;
    height: 200px;
  }
  .container{
    padding: 1rem;
  }
}

/* Transitions */

.fade-enter {
  opacity: 0;
  
}

.fade-enter-active {
  opacity: 1;
  transition: all 600ms;
  
}

.fade-exit {
  opacity: 1;
  
}

.fade-exit-active {
  opacity: 0;
  transition: all 600ms;
  
}